
.nav-title{


    padding:11px 1px;
    display:inline-block;
    height:40px;
    font-size:bold;
    width:220px;
    

}
.nav1-title{
;
    padding:11px 1px;
    display:inline-block;
    height:40px;
    font-size:bold;
    width:220px;
    
}
.nav2-title{

    padding:11px 1px;
    display:inline-block;
    height:60px;
    font-size:bold;
    width:220px;
}
